.modalOverlay {
  display: flex;
  overflow: hidden;
  height: 0;
  opacity: 0;

  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.opened {
  height: 100%;
  opacity: 1;
  width: 100%;
  transition: height 0ms 0ms, opacity 150ms 0ms ease-in;
}
