.burger-constructor {
    grid-area: constructor;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: min-content;
}

.burger-constructor__middle {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.burger-constructor__item {
    display: flex;
    align-items: center;

}

.burger-constructor__total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}