.section {
  display: flex;
  grid-column: 1 / span 2;
  grid-row: 2;
  justify-self: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.input {
  margin-top: 24px;
}

.link {
  color: #4c4cff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile__nav {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 24px 60px;
}

.profile__link {
  text-decoration: none;
  height: 64px;
}

.profile__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile__link_active {
  composes: profile__link;
  color: #f2f2f3;
}

.profile__text {
  opacity: 0.4;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-left {
  justify-self: end;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  min-height: min-content;
  overflow: auto;
}

.feed-left__sections {
  overflow-y: scroll;
}
