.app-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-area: header;
    justify-self: center;
    min-width: 90vw;
}

.nav {
    display: flex;
    justify-items: center;
    align-items: center;
}
.nav-item {
    display: flex;
    justify-items: center;
    align-items: center;
}

.nav__left {
    justify-self: left;
}

.nav__right {
    justify-self: right;
}

.link {
    color: #8585AD;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.link__active {
    color: #F2F2F3;
}